/* Estilos específicos para las páginas de Login y Registro */

header {
    background-color: #000000;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    /* Fondo oscuro del header */
}

nav ul {
    background-color: #fcf2fe;
    color: #a00000;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #df1f1f;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* Para centrar verticalmente en la página */
}

.registro-card {
    background-color: #222;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 90%;
    color: #fff;
    text-align: center;
}

.registro-card h1 {
    color: #ee0000;
    margin-bottom: 20px;
}

.registro-card h3 {
    color: #08ffea;
    margin-top: 20px;
    margin-bottom: 10px;
}

.registro-card form p {
    margin-bottom: 15px;
    text-align: left;
}


/* Estilos para los campos de formulario que genera Django (.as_p) */

.registro-card input[type="text"],
.registro-card input[type="email"],
.registro-card input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
}

.registro-card input[type="text"]::placeholder,
.registro-card input[type="email"]::placeholder,
.registro-card input[type="password"]::placeholder {
    color: #aaa;
}

.boton-rojo {
    background-color: #df1f1f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    /* Para usarlo en enlaces */
    display: inline-block;
    /* Para usarlo en enlaces */
}

.boton-rojo:hover {
    background-color: #a00000;
}

.link {
    color: #08ffea;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}


/* Estilos que Django genera para errores de formulario */

.errorlist {
    color: #df1f1f;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
}

.registro-card p label {
    display: block;
    font-weight: bold;
    color: #ccc;
    margin-bottom: 5px;
}