/* Estilos generales */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

header {
    background-color: #000000;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    /* Fondo oscuro del header */
}

nav ul {
    background-color: #fcf2fe;
    color: #a00000;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    /* Quita viñetas */
    display: flex;
    /* Menú horizontal */
    padding-left: 0;
}

nav ul li {
    margin-left: 20px;
    list-style: none;
}

nav ul li a {
    color: #df1f1f;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

.container {
    max-width: 1000px;
    /* Ancho máximo para el contenido principal */
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #000000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
}

#indice h2,
#presentacion h2,
#destacados h2 {
    color: #ee0000;
    margin-bottom: 15px;
}

#indice ul {
    list-style: disc;
    padding-left: 40px;
    color: #FFFFFF;
}

#indice li {
    margin-bottom: 10px;
}

#presentacion p {
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: center;
    color: #6a129d;
}

#destacados {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta {
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    background-color: #111;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.tarjeta img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #aaa;
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #FFFFFF;
}