<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>avalier 1. El ultimo rey dragon</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
            <center>
    <main>
        <section id="indice">     
          <h2>avalier 1. El ultimo rey dragon</h2>
                <img src="../static/imagenes/portada_avalier-1el-ultimo-rey-dragon.jpg" alt="avalier 1. El ultimo rey dragon" width="300" height="300">
            <h4>Temáticas: juvenil</h4>
            <h4>A partir de 16 años</h4>
                <h4>Publicación: febrero de 2024</h4>
                    <h4>autor: Leia Stone</h4>
        <h2>sinopsis</h2><br>
<p>El Rey Dragón busca esposa y eso es algo que tiene intranquilas a las jóvenes del </p>
<p>pueblo. El rey enviará a la guardia real para traer mujeres en edad fértil a su </p>
<p>castillo en Jade City y solo hay un requisito: las candidatas deben portar </p>
<p>suficiente magia para engendrar un heredero. </p>

<p>Yo soy una humana con apenas un poco de linaje mágico de dragón en mi interior, </p>
<p>sé que no seré elegida pero, por alguna razón los rastreadores de magia me </p>
<p>ordenan presentarme ante el rey como una posible esposa. Estoy lista para ello </p>
<p>hasta que mi madre me cuenta un secreto aterrador. Algo que puede hacer que mi </p>
<p>vida corra peligro... a manos del mismísimo rey. </p>

<h2>prueba del libro</h2>
<p>Me cargué la presa al hombro y gruñí al sentir su peso. Era </p>
<p>un pumarino macho adulto, mi caza más grande hasta la fecha. Habría carne </p>
<p>suficiente para alimentar a mi madre y a </p>
<p>mi hermana pequeña durante al menos dos lunas y, además, </p>
<p>nos daría algo que vender en el mercado. Aún quedaba para</p>
<p>que llegara el invierno, pero quería conseguir pelajes nuevos</p>
<p>para mi madre y Adaline. </p>
<p>Acechar a la bestia la última semana había dado sus frutos, y no podía evitar la </p>
<p>sonrisa que me levantaba las comisuras de la boca mientras caminaba a mi pueblo</p>
 <p>natal, Cinder Village. </p>
    <li><a href="https://www.mercadolibre.com.mx/avalier-1el-ultimo-rey-dragon-de-stone-leia-vol-1-editorial-crossbooks-tapa-pasta-blanda-edicion-1-en-espanol-2024/p/MLM41395398" STYLE="color:#08ffea">Mercado libre</a></li>
            </center>

    </main>
</body>
</html>