<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boku no Hero Academia</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<center>
    <main>
        <section id="indice">     
          <h2>Boku no Hero Academia</h2>
            <img src="../static/imagenes/Boku no Hero Academia.jpg" alt="Boku no Hero Academia" width="300" height="300">

        <h4>Temáticas:	Acción, drama, escolar, shonen, superhéroes</h4>
        <h4>autor: Kōhei Horikoshi</h4>

        <h2>sinopsis</h2><br>
        <p>Izuku Midoriya es sólo un estudiante de secundaria regular en un mundo donde las </p>
<p>personas con superpoderes conocidos como “rarezas” son comunes. Sin embargo, </p>
<p>sueña con convertirse algún día en un héroe, a pesar de ser acosado por sus </p>
<p>compañeros de clase por no tener un peculiaridad. Después de haber sido el único</p>
<p> para tratar de salvar a su amigo de la infancia, Katsuki, de un villano, All Might, el </p>
<p>héroe más grande del mundo, derrama sobre él su propia peculiaridad, “One For All”. </p>


<h2>prueba del libro</h2>
<img src="../static/imagenes/Boku no Hero Academia p1.jpg" alt="wicked" width="300" height="300"><br>
<img src="../static/imagenes/Boku no Hero Academia p2.jpg" alt="wicked" width="300" height="300"><br>
<img src="../static/imagenes/Boku no Hero Academia p3.jpg" alt="wicked" width="300" height="300"><br>
    <li><a href="https://inmanga.com/ver/manga/Boku-no-Hero-Academia/1/51268107-C3B3-4138-B991-8E8AFB42F776" STYLE="color:#ff0a0a">capitulo 1 en linea </a></li>
</center>
            </ul>
        </section>

    </main>
</body>
</html>