<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El cautivo rey lobo</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<center>
    <main>
        <section id="indice">     
          <h2>El cautivo rey lobo</h2>
<img src="../static/imagenes/portada_el-cautivo-rey-lobo.jpg" alt="El cautivo rey lobo" width="300" height="300">
 
            <h4>Temáticas: Juvenil</h4>
            <h4>A partir de 14 años</h4>
                <h4>Publicación: 15 nov 2023</h4>
                    <h4>autor: Rebecca Yarros</h4>
        <h2>sinopsis</h2><br>
        <p>Axil Luna me rompió el corazón cuando tenía quince años; </p>
        <p>desde entonces, sueño con vengarme. Cuando se convierte en el rey de todos </p>
       <p>los lobos y me convoca para que compita por su mano en las letales Pruebas de </p>
       <p>la Reina, acepto encantada. Se arrepentirá del día que pensó que podía </p>
       <p>rechazarme sin consecuencias. </p>
       
       <p>Pero hay una guerra en la frontera. Axil ya no es la misma persona de antes, ni es </p>
       <p>con el que contaba encontrarme. Y ahora… tan solo deseo sobrevivir a las </p>
       <p>Pruebas para poder averiguar qué podríamos llegar a ser. </p>       

<h2>prueba del libro</h2>
<h3>no hay prueba del libro disponible</h3>
     </ul>
        </section>
    <li><a href="https://www.buscalibre.us/libro-el-cautivo-rey-lobo-reyes-de-avalier-4/9788408300762/p/63661334?srsltid=AfmBOoop5_EUwIITZbFaG5RjTSoXNE1F-bEOjQEPXHgbRXfcG62A9IGK" STYLE="color:#ff4800">Buscalibre</a></li>


    </main>
</body>
</html>