<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libro</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="indice">     
          <h2>Libro</h2>
                  <sub> <p>Los libros son un recurso imprescindible para su proceso formativo,</p></sub>
            <sub> <p>les permiten imaginar, descubrir, viajar y conocer sobre el mundo que los rodea.</p></sub>    
        </ul>
        </section>

        <section id="destacados">
            <div class="tarjeta">
                <img src="../static/imagenes/alas de sangre.jpg" alt="Alas de Sangre"  width="300" height="300">
   <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/alas%20de%20sangre.html"  STYLE="color:#00ff37e7">Alas de Sangre</a></li>
</div>
            <div class="tarjeta">
    <img src="../static/imagenes/portada_alas-de-hierro.jpg" alt="Alas de hierro"  width="300" height="300">
<li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/alas%20de%20hierro.html"  STYLE="color:#00ff37e7">Alas de hierro</a></li>
    </div>
            <div class="tarjeta">
                <img src="../static/imagenes/portada_alas-de-onix.jpg" alt="Alas de onix"  width="300" height="300">
 <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/alas%20de%20onix.html"  STYLE="color:#00ff37e7">Alas de onix</a></li>
    </div>
        </section>

        <section id="destacados">
            <div class="tarjeta">
        <img src="../static/imagenes/portada_avalier-1el-ultimo-rey-dragon.jpg" alt="avalier 1. El ultimo rey dragon"  width="300" height="300">
   <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Avalier%201.El%20%C3%BAltimo%20rey%20drag%C3%B3n.html"  STYLE="color:#00ff37e7">avalier 1. El ultimo rey dragon</a></li>
    </div>
            <div class="tarjeta">
<img src="../static/imagenes/portada_avalier-2-el-desolado-rey-elfo_leia-stone.jpg"  alt= "avalier 2. el desolado rey elfo"  width="300" height="300">   
<li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Avalier%202.El%20desolado%20rey%20elfo.html"  STYLE="color:#00ff37e7">avalier 2. el desolado rey elfo</a></li>
</div>
            <div class="tarjeta">
    <img src="../static/imagenes/portada_el-despiadado-rey-fae.jpg" alt="El despiadado Rey fae"  width="300" height="300">
<li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/El%20despiadado%20rey%20fae.html"  STYLE="color:#00ff37e7">El despiadado Rey fae</a></li>
    </div>
        </section>
        <section id="destacados">
            <div class="tarjeta">
        <img src="../static/imagenes/portada_el-cautivo-rey-lobo.jpg" alt="el cautivo rey lobo"  width="300" height="300">
   <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/El%20cautivo%20rey%20lobo.html"  STYLE="color:#00ff37e7">el cautivo rey lobo</a></li>
     </div>
        </section>


    </main>
</body>
</html>