<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manga</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="indice">     
          <h2>manga</h2>
        <p>Manga es la palabra japonesa que se usa en el Japón para designar a la historieta</p>
        </section>

<section id="destacados">
            <div class="tarjeta">
    <img src="../static/imagenes/Black Clover.jpg" alt="Black Clover" width="300" height="300">
   <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Black%20Clover.html"  STYLE="color:#00ff37e7">Black Clover</a></li>
        </div>
            <div class="tarjeta">
<img src="../static/imagenes/Kimetsu no Yaiba.jpg" alt="Kimetsu no Yaiba" width="300" height="300">
<li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Kimetsu%20no%20Yaiba.html"  STYLE="color:#00ff37e7">Kimetsu no Yaiba</a></li>
        </div>
            <div class="tarjeta">
            <img src="../static/imagenes/Kaiju No. 8.jpg"  alt="Kaiju No. 8" width="300" height="300">
 <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Kaiju%20No.%208.html"  STYLE="color:#00ff37e7">Kaiju No. 8</a></li>
     </div>
        </section>

        <section id="destacados">
            <div class="tarjeta">
            <img src="../static/imagenes/Boku no Hero Academia.jpg" alt="Boku no Hero Academia" width="300" height="300">
   <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Boku%20no%20Hero%20Academia.html"  STYLE="color:#00ff37e7">Boku no Hero Academia</a></li>
            </div>
            <div class="tarjeta">
<img src="../static/imagenes/one piece.jpg"  alt= "one piece" width="300" height="300">
<li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/one%20piece.html"  STYLE="color:#00ff37e7">one piece</a></li>
            </div>
        </section>
        
    </main>
</body>
</html>