<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>novela</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="indice">     
          <h2>novela</h2>
            <p>La novela ligera se caracteriza por tener un estilo pensado para lectura rápida.</p>
                <p>Suelen tener una extensión que oscila entre la 35.000 y 50.000 palabras </p>
        </section>

        <section id="destacados">
            <div class="tarjeta">
                <img src="../static/imagenes/Mis Tres Esposas Son Vampiras Hermosas.png"  alt="Mis Tres Esposas Son Vampiras Hermosas" width="300" height="300">
   <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Mis%20Tres%20Esposas%20Son%20Vampiras%20Hermosas.html"  STYLE="color:#00ff37e7">Mis Tres Esposas Son Vampiras Hermosas</a></li>
            </div>
            <div class="tarjeta">
<img src="../static/imagenes/Re; evolucion online.png" alt="Re Evolución Online" width="300" height="300">
<li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Re%3BEvoluci%C3%B3n%20Online.html"  STYLE="color:#00ff37e7">Re Evolución Online</a></li>
            </div>
            <div class="tarjeta">
        <img src="../static/imagenes/Sistema del Monarca Dragón.jpg" alt="Sistema del Monarca Dragón" width="300" height="300">
<li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sistema%20del%20Monarca%20Drag%C3%B3n.html"  STYLE="color:#00ff37e7">Sistema del Monarca Dragón</a></li>
     </div>
        </section>

        <section id="destacados">
            <div class="tarjeta">
            <img src="../static/imagenes/Sistema Supremo de Dios de Harén.png" alt="Sistema Supremo de Dios de Harén" width="300" height="300">
   <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sistema%20Supremo%20de%20Dios%20de%20Har%C3%A9n.html"  STYLE="color:#00ff37e7">Sistema Supremo de Dios de Harén</a></li>
            </div>
            <div class="tarjeta">
            <img src="../static/imagenes/en busca de los elementos.png" alt="En busca de los Elementales" width="300" height="300">
<li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/En%20busca%20de%20los%20Elementales.html"  STYLE="color:#00ff37e7">En busca de los Elementales</a></li>
            </div>
            <div class="tarjeta">
            <img src="../static/imagenes/Reencarnado Con El Sistema Más Fuerte.jpg" alt="Reencarnado Con El Sistema Más Fuerte" width="300" height="300">
<li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Reencarnado%20Con%20El%20Sistema%20M%C3%A1s%20Fuerte.html"  STYLE="color:#00ff37e7">Reencarnado Con El Sistema Más Fuerte</a></li>
    </div>
        </section>
    </main>
</body>
</html>