<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema del Monarca Dragón</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<center>
    <main>
        <section id="indice">     
          <h2>Sistema del Monarca Dragón</h2>
     <img src="../static/imagenes/Sistema Del Monarca Dragón.jpg" alt="Sistema del Monarca Dragón" width="300" height="300">

            <h4>Temáticas:ACCIÓN, AVENTURA, ROMANCE, R18, HARÉN, TRANSMIGRACIÓN,</h4>
            <h4> CONSTRUCCIÓN DEL REINO, CONQUISTAR, EVOLUCIÓN, DRAGÓN </h4>
                    <h4>autor: Dark_Bangali</h4>
        <h2>sinopsis</h2><br>
<p>—¡Ding! El Sistema del Monarca Dragón ha sido activado. </p>
<p>Aditya se encuentra en el cuerpo de un dragón de 19 años. <p>Aditya conoce el infortunio destino del antiguo Aditya. Siendo </p>
<p>un hombre del siglo XXI, Aditya decide cambiar su destino. </p>
<p>Al estar casado con las 7 diosas de este mundo, Aditya camina</p>
 <p>por un sendero para demostrar su valía a sus esposas y a su familia. </p>
<p>Diosa de la Guerra</p>
<p>Diosa de la Alquimia</p>
<p>Diosa de la Riqueza</p>
<p>Diosa de la Sabiduría</p>
<p>Diosa de la Lujuria</p>
<p>Diosa de la Música</p>
<p>Diosa de la Naturaleza</p>


<h2>prueba del libro</h2>
 <p> El Planeta Primordial, en uno de los continentes más pequeños, </p>
 <p> elContinente de la Isla Moribunda...Un pequeño rayo de luz de </p>
 <p> color púrpura oscuro que se movía másrápido que la velocidad </p>
 <p> de la luz atravesó innumerables sistemassolares y universos </p>
 <p> para llegar a un determinado sistema solar.El rayo de luz entró </p>
 <p> en el planeta verde conocido como el PlanetaPrimordial. El rayo </p>
 <p> de luz púrpura luego descendió como unaestrella fugaz hacia el </p>
 <p> Continente de la Isla Moribunda, que erauno de los continentes </p>
 <p> más pequeños de este planeta.La luz púrpura finalmente llegó a </p>
 <p> la ciudad de Azure. </p>
 <p> Sin que nadie se diera cuenta, la luz púrpura que se movía</p> 
 <p> másrápido que la velocidad de la luz misma llegó a cierta </p>
 <p> habitacióndonde un joven yacía inconsciente en la cama, el </p>
 <p> rayo de luzentró en el cuerpo del joven. </p>
 <p> [¡Timbre! Después de buscar en innumerables universos, se haencontrado el primer anfitrión.] </p>
 <p> [¡Timbre! El sistema se está activando… 1%]</p>
 <p> [¡Timbre! Activación…..88%]</p>
 <p> [¡Timbre! El Sistema Monarca Dragón ha sido activado.] </p>
 <p> [¡Timbre! Escaneando el cuerpo del anfitrión... 1%]</p>
 <p> [¡Timbre! Escaneo…..77%]</p>
 <p> [¡Timbre! ¡Escaneo completo!]. </p>
 <p> [¡Timbre! Fusionando los recuerdos de dos anfitriones…..1%]</p>
 <p> [¡Timbre! Fusión de memoria... 66 %]</p>
 <p> [¡Timbre! La fusión de memoria está completa] </p>



    <li><a href="https://es.scribd.com/document/661926073/Dragon-Monarch-System-1-287-1" STYLE="color:#ff0a0a">scribd</a></li>
</center>
            </ul>
        </section>

    </main>
</body>
</html>