<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My sitio web sobre libros</title>
    <link rel="stylesheet" href="Sitio web.css">
</head>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<body class="bg-black text-white">
    <div class="container">
        <h1 class="text-center">My sitio web sobre libros</h1><br>
        <form action="/submit" method="post">
                       
        <form action="/send-recovery-link" method="post">
        <input type="email" name="email" placeholder="Escribe aquí tu nombre" required class="form-input"><br>
        <form action="/send-recovery-link" method="post">
        <input type="email" name="email" placeholder="Escribe aquí tu Gmail" required class="form-input"><br>
        <form action="/send-recovery-link" method="post">
        <input type="email" name="email" placeholder="Escribe aquí tu contraseña" required class="form-input"><br>
        
            <a href="file:///D:/misitio/mi_sitio_venta/members/templates/indice.html" class="boton-rojo">Ir al indice</a>            
            <a href="file:///C:/Nueva%20carpeta/misitio1/misitio/mi_sitio_venta/members/templates/recuperar.html" class="boton-rojo">recuperar contraseña</a>
            <a href="" class="boton-rojo">registrar contraseña</a>
    </div>


        </form>
</body>
</html>
