<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alas de Onix</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="indice">  
            <center>
          <h2>Alas de Onix</h2>
            <img src="../static/imagenes/portada_alas-de-onix.jpg" alt="Alas de Onix" width="300" height="300">
            <h4>Temáticas: Fantasía, Juvenil</h4>
            <h4>A partir de 14 años</h4>
                <h4>Publicación: 22 ene 2025</h4>
                    <h4>Rebecca Yarros</h4>
        <h2>sinopsis</h2><br>
        <p>Tras casi dieciocho meses en el Colegio de Guerra Basgiath, Violet Sorrengail tiene </p>
        <p>claro que no queda tiempo para entrenar. Hay que tomar decisiones. La batalla ha</p>
        <p>comenzado y, con enemigos acercándose a las murallas e infiltrados en sus propias</p>
        <p>filas, es imposible saber en quién confiar. </p>
        <p>Ahora Violet deberá emprender un viaje fuera de los límites de Aretia, en busca de</p>
        <p>aliados de tierras desconocidas que acepten pelear por Navarre. La misión pondrá a</p>
        <p>prueba su suerte, y la obligará a usar todo su ingenio y fortaleza para salvar lo que</p>
        <p>más ama: sus dragones, su familia, su hogar y a él. </p>
        <p>Aunque eso signifique tener que guardar un secreto tan peligroso que podría</p>
        <p>destruirlo todo. </p>
        <p>Navarre necesita un ejército. Necesita poder. Necesita magia. Y necesitará algo que</p>
        <p>solo Violet puede encontrar: la verdad. </p>
        <p>Pero una tormenta se aproxima… y no todos sobrevivirán a su furia. </p><br>
            
<h2>prueba del libro</h2>
<P>Tras casi dieciocho meses en el Colegio de Guerra Bastita, Violet Sorrengail tiene </p>
<P>claro que no queda tiempo para entrenar. Hay que tomar decisiones. La batalla ha </p>
<P>comenzado y, con enemigos acercándose a las murallas e infiltrados en sus </p>
<P>propias filas, es imposible saber en quién confiar. </p>
<P>Ahora Violet deberá emprender un viaje fuera de los límites de Aretia en busca de </p>
<P>aliados de tierras desconocidas que acepten pelear por Navarre. La misión </p>
<P>pondrá a prueba su suerte, y la obligará a usar todo su ingenio y fortaleza para </p>
<P>salvar a quienes más ama: sus dragones, su familia, su hogar y a él . </p>
<P>Aunque eso signifique tener que guardar un secreto tan peligroso que podría </p>
<P>destruirlo todo. </p>
<P>Necesita poder. Necesita magia. Y necesitará algo que solo Violet puede </p>
<P>encontrar: la verdad. </p>
<P>Pero una tormenta se aproxima… y no todos sobrevivirán a su furia. </p>
    
        </SPAN>

    <li><a href="https://listado.mercadolibre.com.mx/alas-de-onix#D[A:alas%20de%20onix]" STYLE="color:#08ffea">Mercado libre</a></li>
    </center>
</main>
</body>
</html>