<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alas de sangre</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
            <center>
    <main>
        <section id="indice">     
          <h2>Alas de sangre</h2>
        <img src="../static/imagenes/alas de sangre.jpg" alt="Alas de sangre" width="300" height="300">
            <h4>Temáticas: Fantasía, juvenil</h4>
            <h4>A partir de 14 años</h4>
                <h4>Publicación: 15 nov 2023</h4>
                    <h4>autor: Rebecca Yarros</h4>
        <h2>sinopsis</h2><br>
        <p>En esta saga conoceremos a Violet Sorrengail,</p>
        <p>una joven que aspiraba a una vida tranquila en el</p>
        <p>Cuadrante de los Escribas, pero que en realidad </p>
        <p>se ve obligada a unirse al competitivo Colegio de</p>
        <p>Guerra de Basgiath. La lucha por pertenecer al Cuadrante</p>
        <p>de los Jinetes de Dragones, la élite de Navarre, la enfrentará </p>
        <p>a grandes retos, especialmente cuando una mujer pequeña y frágil</p>
        <p> se enfrenta a un mundo donde los dragones no se vinculan con humanos </p>
        <p>débiles. La trama se vuelve aún más intensa cuando se revela que Violet </p>
        <p> es la hija de la comandante general.</p><br>
        <p></p>

<h2>prueba del libro</h2>
        <p>El Día del Reclutamiento siempre es el más mortífero. Quizá</p>
        <p> por eso el amanecer me parece especialmente bonito, pues sé</p>
        <p>   que para mí podría ser el último.</p>
        <p>  Ajusto las correas de mi pesada mochila de lona y subo como</p>
        <p>  puedo por la ancha escalera de la fortaleza de piedra a la que</p>
        <p>   llamo hogar. Mi pecho se agita por el esfuerzo y cuando llego al</p>
        <p>  pasillo de piedra que lleva a la oficina de la general Sorrengail,</p>
            <p> me arden los pulmones. Esto es lo que he ganado tras seis meses</p>
            <p> de entrenamiento físico intenso: la capacidad de subir, a duras</p>
            <p>penas, seis pisos con una mochila de catorce kilos.</p>
            <p>   Estoy jodida.</p>
            <p> Los miles de veinteañeros que esperan fuera de la puerta</p>
            <p>    para entrar a servir en el cuadrante de su elección son los más</p>
            <p> fuertes e inteligentes de Navarre. Cientos de ellos llevan preparándose desde que nacieron para el Cuadrante de Jinetes, para</p>
            <p> tener la oportunidad de ser parte de la élite. Yo llevo exactamente seis meses.</p>

    <li><a href="https://www.mercadolibre.com.mx/alas-de-sangre-de-rebecca-yarros-editorial-planeta-en-espanol/p/MLM34035004?matt_tool=28238160&utm_
        source=google_shopping&utm_medium=organic&pdp_filters=item_id%3AMLM3560385942&from=gshop" STYLE="color:#08ffea">Mercado libre</a></li>
            </center>

    </main>
</body>
</html>