<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alas de Hierro</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<center>
    <main>
        <section id="indice">     
          <h2>Alas de Hierro</h2>
<img src="../static/imagenes/portada_alas-de-hierro.jpg" alt="Alas de Hierro" width="300" height="300">
            <h4>Temáticas: Fantasía, Juvenil</h4>
            <h4>A partir de 14 años</h4>
                <h4>Publicación: 13 nov 2024</h4>
                    <h4>Rebecca Yarros</h4>
        <h4>Temáticas: Fantasía, Juvenil</h4>
            <h4>A partir de 14 años</h4>
                <h4>Publicación: 13 nov 2024</h4>
                    <h4>Rebecca Yarros</h4>
            <ul>
                <h2>sinopsis</h2><br>
        <p>Todos esperaban que Violet Sorrengail muriera en su primer año en el Colegio</p>
        <p>de Guerra Basgiath, incluso ella misma. Pero la Trilla fue tan solo la primera de una serie de pruebas</p>
        <p>Cuadrante de los Escribas, pero que en realidad </p>
        <p>se ve obligada a unirse al competitivo Colegio de</p>
        <p>Guerra de Basgiath. La lucha por pertenecer al Cuadrante</p>
        <p>de los Jinetes de Dragones, la élite de Navarre, la enfrentará </p>
        <p>a grandes retos, especialmente cuando una mujer pequeña y frágil</p>
        <p> se enfrenta a un mundo donde los dragones no se vinculan con humanos </p>
        <p>débiles. La trama se vuelve aún más intensa cuando se revela que Violet </p>
        <p> es la hija de la comandante general.</p><br>
        <p>Ahora comienza el verdadero entrenamiento, y Violet no sabe cómo logrará superarlo.</p>
        <p>No solo porque es brutal y agotador o porque está diseñado para llevar al límite el umbral del dolor de los jinetes,</p>
        <p>sino porque el nuevo vicecomandante está empeñado en demostrarle lo débil que es, a menos que traicione al hombre al que ama.</p>
        <p>La voluntad de sobrevivir no será suficiente porque Violet conoce el secreto que se oculta entre los muros del colegio,</p>
        <p>y nada, ni siquiera el fuego de dragón, será suficiente para salvarlos.</p>
        <p></p>
        <h2>prueba del libro</h2>
        <p>La revolución tiene un sabor extrañamente... dulce.</p>
        <p>Observo a mi hermano mayor al otro lado de la mesa de madera</p>
        <p>chamuscada, en la gigantesca y ajetreada cocina de la fortaleza de</p>
        <p>Aretia, mientras mordisqueo la galleta de miel que me ha dejado en</p>
        <p>el plato. Joder, qué rica está. Riquísima.</p>
        <p>O tal vez sea porque llevo tres días sin comer, desde que un ser no</p>
        <p>tan mitológico me apuñaló en el costado con una hoja envenenada</p>
        <p>que debería haberme matado. De hecho, me habría matado de no ser</p>
        <p>por Brennan, que no deja de sonreír mientras mastico.</p>
        <p>Esta bien podría ser la experiencia más surrealista de mi vida.</p>
        <p>Brennan está vivo. Los venin, seres oscuros que creía que solo existían</p>
        <p> en los cuentos de hadas, son reales. Brennan está vivo. Aretia</p>
        <p>sigue en pie, a pesar de que la calcinaran hace seis años, tras la Rebelión</p>
        <p>tyrrish. Insisto: Brennan está vivo. Tengo una nueva cicatriz de</p>
        <p>ocho centímetros en el abdomen, pero no he muerto. Y Brennan está</p>
        <p>vivo.</p>
     </ul>
        </section>

    <li><a href="https://listado.mercadolibre.com.mx/alas-de-hierro" STYLE="color:#08ffea">Mercado libre</a></li>
</center>

    </main>
</body>
</html>