<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avalier 2. El desolado rey elfo</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<center>
    <main>
        <section id="indice">     
          <h2>Avalier 2. El desolado rey elfo</h2>
            <img src="../static/imagenes/portada_avalier-2-el-desolado-rey-elfo_leia-stone.jpg" alt="Avalier 2. El desolado rey elfo" width="300" height="300">

            <h4>Temáticas: juvenil</h4>
            <h4>A partir de 16 años</h4>
                <h4>Publicación: enero de 2025</h4>
                    <h4>autor: Leia Stone</h4>
        <h2>sinopsis</h2><br>
        <p>Era plenamente consciente de que no podría pagar nunca el  </p>
        <p>préstamo que pedí para poder salvar a mi tía enferma, pero aun  </p>
        <p>así debía hacerlo. Para devolver mi deuda fui vendida como  </p>
        <p>esclava, pero se me envió a la corte del Rey Elfo y me convertí  </p>
        <p>en su ayudante. </p>
        <p>El Rey Elfo es rico, extremadamente guapo y brillante, por lo  </p>
        <p>que encontrar a alguien para que se case con él no debería ser  </p>
        <p>complicado. El único problema es que rechaza a todas las  </p>
        <p>candidatas, lo cual dificulta mi trabajo como su asistente.  </p>
        <p>Cuando me propone un matrimonio falso para quitarse al </p>
        <p>consejo de encima, no puedo negarme: con una guerra </p>
        <p>cerniéndose sobre el reino, y tras descubrir mi naturaleza </p>
         <p>mágica, es mi única esperanza de sobrevivir. </p>
        <p>Formar un matrimonio de conveniencia con el Rey Elfo para  </p>
        <p>conseguir protección no debería ser un mal plan… siempre y </p>
        <p>cuando no me enamore de él.</p>
        <p>Un amor tan inevitable y hechizante como peligroso.  </p>
        
        
<h2>prueba del libro</h2>
<p>El carro cubierto se detuvo bruscamente y mi hombro se chocó  </p>
<p>con el de la persona sentada a mi lado. Murmuré una disculpa, y  </p>
<p>entonces se abrió la lona trasera. —¡Fuera! — gritó el traficante  </p>
<p>de esclavos, y todos nos pusimos de pie. Nos costó un poco,  </p>
<p>teniendo en cuenta que teníamos las manos atadas a la  </p>
<p>espalda. Seguí la línea de los demás prisioneros y, cuando  </p>
<p>llegué al borde del carro, salté con cara de dolor por una punzada en el talón.  </p>
<p>Eché un vistazo rápido a mi alrededor y vi  </p>
<p>que estábamos ante las puertas doradas de Elf City, la capital  </p>
<p>de Archmere. Nunca había salido de Nightfall, y aunque mi </p>
<p>situación actual era bastante triste, quería al menos hacer un  </p>
<p>poco de turismo antes de que me vendieran a una vida de  </p>
<p>servidumbre. Mi padre, un elfo pura sangre, hablaba con cariño  </p>
<p>de su tierra, y ahora veía por qué. Unos árboles muy altos con  </p>
<p>flores blancas se alineaban con las puertas exteriores del  </p>
<p>castillo, y estábamos rodeados de colinas y montañas por todas partes.  </p>
<p>Era impresionante.  </p>

    <li><a href="https://articulo.mercadolibre.com.mx/MLM-2219543065-libro-avalier-2-el-desolado-rey-elfo-_JM" STYLE="color:#08ffea">Mercado libre</a></li>
</center>

    </main>
</body>
</html>