<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Clover</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<center>
    <main>
        <section id="indice">     
          <h2>Black Clover</h2>
            <img src="../static/imagenes/Black Clover.jpg" alt="Black Clover" width="300" height="300">

        <h4>Temáticas:	Acción, aventura, comedia, drama, fantasía oscura, histórico, sobrenatural</h4>
        <h4>autor: Koyoharu Gotouge</h4>

        <h2>sinopsis</h2><br>
        <p>El escenario es la era Taisho de Japón. Tanjirou es un joven de buen corazón que vivió</p>
 <p>en paz con su familia como vendedor de carbón. Su vida normal cambia  </p>
 <p>completamente cuando su familia es asesinada por demonios. La única otra </p>
 <p>sobreviviente, la hermana menor de Tanjirou, Nezuko, se ha convertido en un</p>
 <p>demonio feroz. Para devolver a Nezuko a la normalidad y vengarse del demonio</p>
 <p>que mató a su familia, los dos parten en un viaje. De un joven talento, comienza una  </p>
 <p>historia de aventuras de sangre y espadas. </p>


<h2>prueba del libro</h2>
<img src="../static/imagenes/Black Clover p1.jpg" alt="wicked" width="300" height="300"><br>
<img src="../static/imagenes/Black Clover p 3.jpg" alt="wicked" width="300" height="300"><br>
<img src="../static/imagenes/Black Clover p2.jpg" alt="wicked" width="300" height="300"><br>
<img src="../static/imagenes/Black Clover p4.jpg" alt="wicked" width="300" height="300"><br>

        </SPAN>

    <li><a href="https://inmanga.com/ver/manga/Black-Clover/1/79F58350-D3E1-4FD3-91A6-C9A8793C3682" STYLE="color:#ff0a0a">capitulo 1 en linea </a></li>
</center>
            </ul>
        </section>

    </main>
</body>
</html>