<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El despiadado Rey fae</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<center>
    <main>
        <section id="indice">     
          <h2>El despiadado Rey fae</h2>
<img src="../static/imagenes/portada_el-despiadado-rey-fae.jpg" alt="El despiadado Rey fae" width="300" height="300">
            <h4>Temáticas: Juvenil</h4>
            <h4>A partir de 16 años</h4>
                <h4>Publicación: 18 de febrero de 2025</h4>
                    <h4>autor: Leia Stone</h4>
        <h2>sinopsis</h2><br>
        <p>El Rey Fae es el monstruo más cruel de todo Thorngate. Se dice que </p>
        <p>es despiadado y sin corazón. Y, aparentemente, estamos prometidos…
        <p>Cuando viene para negociar nuestro matrimonio, hago todo lo que está en mi poder </p>
        <p>por retrasar la boda, pero, cuanto más tiempo paso con el misterioso rey, más me</p>
         <p>cuestiono si los rumores sobre él son verdaderos. </p>
        <p>Sé que el Rey Fae tiene un pasado oscuro que explica por qué es como es, y por más </p>
        <p>que quiero odiarlo por ello, voy a descubrir todos sus secretos… aunque ponga en</p>
         <p>peligro mi corazón. </p>        
<h2>prueba del libro</h2>
<p>—¡No pienso hacerlo, padre! — grité. —¿Quieres que todo el reino quede sumido en el</p>
 <p>invierno? ¿O que perdamos los cultivos? — bramó mi padre—. Cuando el rey invernal</p>
 <p>te pide la mano de tu hija, ¡no se la niegas! Estaba tan enfadada que temblaba. En mi </p>
<p>vida había estado tan furiosa con mi padre. Lo quería, lo adoraba, veneraba el suelo </p>
<p>que pisaba, pero no cedería a casarme con ese monstruo. —Pues eso es</p>
 <p>exactamente lo que voy a decir cuando llegue: ¡NO! — grité. De pronto, se levantó el </p>
<p>viento dentro de la casa y los papeles que había en el escritorio de mi padre salieron </p>
<p>volando y formaron un remolino. Él suspiró, como si estuviera acostumbrado a mis</p>
 <p>rabietas, pero no era justo. Ni siquiera tenía tantas, solo cuando me obligaban a</p>
 <p>casarme con capullos desalmados. —Papi... — Suavicé la voz y el viento se calmó de </p>
<p>inmediato y los papeles cayeron suavemente al suelo—, te quiero. Respeto las </p>
<p>decisiones que tomas. Pero bajo ninguna circunstancia me casaré con Lucien Espino. Jamás. </p>

     </ul>
        </section>

   <li><a href="https://www.mercadolibre.com.mx/el-despiadado-rey-fae-de-stone-leia-1104-vol-1-editorial-crossbooks-tapa-blanda-edicion-1-en-castellano-2025/p/MLM46380947" STYLE="color:#08ffea">Mercado libre</a></li>
</center>

    </main>
</body>
</html>