<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En busca de los Elementales</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<center>
    <main>
        <section id="indice">     
          <h2>En busca de los Elementales</h2>
           <img src="../static/imagenes/en busca de los elementos.png" alt="En busca de los Elementales" width="300" height="300">

        <h4>Temáticas: ADVENTURE, ACTION, ROMANCE, COMEDY, HAREM </h4>
        <h4>autor: Eman_tutoriales</h4>
        <h2>sinopsis</h2><br>
        <p>Hace mucho tiempo atrás una fuerza misteriosa descendió al planeta tierra durante la creación de el universo</p>
        <p> en donde creo mucho fragmentos de diferentes poderes.</p>
        <p>Cada fragmento representaba un bastón para el universo</p>
        <p>-Fuego</p>
        <p>-Tierra</p>
        <p>-Tiempo</p>
        <p>-Luz</p>
        <p>-Oscuridad</p>
        <p>-Alma</p>
        <p>-Aire</p>
        <p>Mario nuestro protagonista se pone a investigar sobre los demás fragmentos debido a </p>
        <p>que es atacado por un ente misterioso el cual dice que tiene el elemental de fuego y </p>
        <p>lo quiere de vuelta. </p>
        <p>Así Mario y sus compañeros deciden buscar a las 7 personas que contienen una</p>
        <p> elemental para avertirles lo que el ente quiere hacer con los elementos. </p>
        

    <li><a href="https://www.webnovel.com/book/en-busca-de-los-elementales_17667928606341005/%22extra%C3%B1os-sue%C3%B1os%22_47427027216688723" STYLE="color:#ff0a0a">webnovel</a></li>
</center>
            </ul>
        </section>

    </main>
</body>
</html>