<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaiju No. 8</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<center>
    <main>
        <section id="indice">     
          <h2>Kaiju No. 8</h2>
            <img src="../static/imagenes/Kaiju No. 8.jpg" alt="Kaiju No. 8" width="300" height="300">

        <h4>Temáticas:	Acción, horror, sobrenatural, ciencia ficción, fantástica, aventura</h4>
        <h4>autor: Naoya Matsumoto</h4>

        <h2>sinopsis</h2><br>
        <p>En un mundo plagado de criaturas conocidas como Kaiju, Kafka Hibino  </p>
        <p>aspiraba a alistarse en las Fuerzas de Defensa. Hace la promesa de  </p>
        <p>alistarse con su amiga de la infancia, Mina Ashiro. Pronto, la vida los lleva  </p>
        <p>por caminos separados. Mientras trabaja limpiando después de las  </p>
        <p>batallas Kaiju, Kafka conoce a Reno Ichikawa. La determinación de Reno  </p>
        <p>de unirse a las Fuerzas de Defensa despierta la promesa de Kafka de </p>
        <p>unirse a Mina y proteger a la humanidad. </p>        

<h2>prueba del libro</h2>
<img src="../static/imagenes/p1 Kaiju No. 8.jpg" alt="wicked" width="300" height="300"><br>
<img src="../static/imagenes/p2 Kaiju No. 8.jpg" alt="wicked" width="300" height="300">


    <li><a href="https://inmanga.com/ver/manga/Kaiju-No-8/1/F2A303F7-7732-4B5E-9298-AD50D02FEEC0" STYLE="color:#ff0a0a">capitulo 1 en linea</a></li>
</center>
            </ul>
        </section>

    </main>
</body>
</html>