<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Tres Esposas Son Vampiras Hermosas</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<center>
    <main>
        <section id="indice">     
          <h2>Mis Tres Esposas Son Vampiras Hermosas</h2>
           <img src="../static/imagenes/Mis Tres Esposas Son Vampiras Hermosas.png" alt="Mis Tres Esposas Son Vampiras Hermosas" width="300" height="300">

            <h4>Temáticas:ACTION, ROMANCE, HAREM, WEREWOLF, VAMPIRE</h4>
            <h4>EVOLUTION, ADVENTURE, COMEDY, WEAKTOSTRONG, SLICEOFLIFE </h4>
                    <h4>Autor: Victor Weismann</h4>
        <h2>sinopsis</h2><br>
        <p>Víctor era un hombre normal de 21 años, creció en una familia cariñosa que lo </p>
        <p>ayudaba a cuidarse sabiendo que tenía una enfermedad prácticamente incurable, la </p>
        <p>sangre RH nula, era poseedor de un tipo de sangre raro... Pero lo que Víctor no sabía, </p>
        <p> es que este tipo de sangre era un manjar en el mundo sobrenatural, criaturas que se </p>
        <p>alimentaban de sangre adoraban su tipo de sangre... Y esa sangre que él odiaba sería </p>
        <p>el factor que convertiría a Víctor en el vampiro más grande de todos los tiempos. </p>
    
        <p>—¿En serio? —dijo Víctor—. No puedo creerlo. </p>
        <p>—Te lo digo en serio —responde su amigo Felipe—, eres una especie de leyenda viviente. </p>
        <p>—Bueno, eso no me hace sentir mejor en absoluto —murmuró Víctor entre dientes. </p>
        <p>—Quizás no, pero —Felipe pone su mano en el hombro de Víctor— al menos ahora </p>
        <p>tienes un propósito en la vida. </p>

    <li><a href="https://www.webnovel.com/es/book/mis-tres-esposas-son-vampiras-hermosas._27134707205517505/cap%C3%ADtulo-01-pr%C3%B3logo_73068496279356441" STYLE="color:#ff0a0a">webnovel</a></li>
</center>
            </ul>
        </section>

    </main>
</body>
</html>