<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>one piece</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<center>
    <main>
        <section id="indice">     
          <h2>one piece</h2>
            <img src="../static/imagenes/one piece.jpg" alt="one piece" width="300" height="300">

        <h4>Temáticas:	Acción, Aventuras, Comedia, Fantasía</h4>
        <h4>autor: Eiichiro Oda</h4>

        <h2>sinopsis</h2><br>
        <p>La serie comienza con la ejecución de Gol D. Roger, un hombre conocido como el Rey</p>
        <p>de los Piratas. Poco antes de su muerte, Roger hace mención a su gran tesoro </p>
        <p>legendario, el One Piece, ya que puede ser tomado por todo aquél que lo desee. Esto</p>
         <p>marca el inicio de una era conocida como la Gran Era Pirata. Como resultado, un sin</p>
         <p>número de piratas zarparon hacia Grand Line con el objetivo de encontrarlo</p>
             

<h2>prueba del libro</h2>
<img src="../static/imagenes/one piece p1.jpg" alt="wicked" width="300" height="300"><br>
<img src="../static/imagenes/one piece p2.jpg" alt="wicked" width="300" height="300"><br>
<img src="../static/imagenes/one piece p3.jpg" alt="wicked" width="300" height="300"><br>
<img src="../static/imagenes/one piece p4.jpg" alt="wicked" width="300" height="300">

    <li><a href="https://inmanga.com/ver/manga/One-Piece/01/8d23d3d6-7c59-4223-bfbc-6f87aa8259dd" STYLE="color:#ff0a0a">capitulo 1 en linea </a></li>
</center>
            </ul>
        </section>

    </main>
</body>
</html>