<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña - My sitio web sobre libros</title>
    <link rel="stylesheet" href="recuperar.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
        </ul>
    </nav>
</header>
<body class="bg-black text-white">
    <div class="container">
        <h1 class="text-center">Recuperar Contraseña</h1>
        <p class="text-center">Ingresa tu correo electrónico para enviarte un enlace de restablecimiento.</p><br>
        
        <form action="/send-recovery-link" method="post">
            <input type="email" name="email" placeholder="Escribe aquí tu Gmail" required class="form-input"><br>
            
            <div class="button-container">
                <button type="submit" class="boton-rojo">Enviar Enlace de Recuperación</button>
            </div>
        </form>
    
            <a href="file:///C:/Nueva%20carpeta/misitio1/misitio/mi_sitio_venta/members/templates/Sitio%20web.html" class="boton-rojo">Ir al inicio</a>    
        </div>
    </div>
</body>
</html>