<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My sitio web sobre libros</title>
    <link rel="stylesheet" href="Sitio web.css">
</head>
    <header>
        <nav>
            <ul>
                <li><a href="file:///D:/misitio/mi_sitio_venta/members/templates/Sitio%20web.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
<body class="bg-black text-white">
    <div class="container">
        <h1 class="text-center">My sitio web sobre libros</h1><br>
        <form action="/submit" method="post">
                       
                <h3>Registrar Nueva Cuenta</h3>
            
            <input type="text" name="nombre" placeholder="Escribe aquí tu nombre de usuario" required class="form-input"><br>
            <input type="email" name="correo" placeholder="Escribe aquí tu correo electrónico" required class="form-input"><br>
            <input type="password" name="contraseña" placeholder="Escribe aquí tu contraseña" required class="form-input"><br>
            <input type="password" name="contraseña_confirm" placeholder="Confirma tu contraseña" required class="form-input"><br>
            <input type="submit" value="Registrar Contraseña" class="btn boton-rojo">            
            <br>
        </form>

    </div>
    
    <script src="{% static 'js/Regis.js' %}"></script>

        </form>
</body>
</html>
